#header {
  background-color: brown;
  color:white;
  text-align:center;
  padding:10px;
}
h1, h2, h3 {
  margin:0;
}
body{
  background-color: grey;
  font-family: Calibri, Arial, sans-serif;
}
#container{
  background-color: white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: red;
  font-weight:bold;
}
#nav ul{
  text-align:left;
  list-style-type: none;
}

#content {
  padding : 10px;
}

#nav{
  width : 200px;
  float: left;
}

#main{
  width: 900px;
  float: right;
}

#footer{
  clear:both;
  padding: 10px;
  background-color:grey;
  color:white;
  text-align:right;
}
